<form action="<%= url %>" method='post'>
    <input type="hidden"
            name="authenticity_token"
            value="<%= form_authenticity_token %>">

    <% if method == :put %>
      <input type="hidden" name="_method" value="put">
    <% end %>

    <input type="hidden" name="post[user_id]" value="<%= current_user.id %>">

    <label>
      Body
      <textarea name="post[body]"><%= post.body %></textarea>
    </label>
    <br>

    <label>
      Link 1
      <input type="text" name="link[url][]"
              value="<%=post.links[0].url if post.links[0]%>">
    </label>
    <br>

    <label>
      Link 2
      <input type="text" name="link[url][]"
              value="<%=post.links[1].url if post.links[1]%>">
    </label>
    <br>
    <label>
      Link 3
      <input type="text" name="link[url][]"
            value="<%=post.links[2].url if post.links[2]%>">
    </label>
    <br>

    <% current_user.owned_friend_circles.each do |fc| %>
    <label>
      <%= fc.name %>
      <input type="checkbox" name="post[friend_circle_ids][]"
       value="<%=fc.id%>" <%= "checked" if post.friend_circles.include?(fc) %> >
    </label>
    <% end %>

    <input type="submit">
</form>